.blog{
  padding-top: $spacer*24;
  padding-bottom: $spacer*20;
  @media (max-width: 992px) {
    padding-top: $spacer*20;
  }
  @media (max-width: 767px) {
    padding-top: $spacer*10;
    padding-bottom: $spacer*14;
  }
  &-title{
    margin-bottom: $spacer*8;
    @media (max-width: 992px) {
      margin-bottom: $spacer*10;
    }
    @media (max-width: 767px) {
      margin-bottom: $spacer*6;
    }
  }
}

.blogList{
  margin-bottom: $spacer*31;
  @media (max-width: 992px) {
    margin-bottom: $spacer*20;
  }
  @media (max-width: 767px) {
    margin-bottom: $spacer*16;
  }
  &-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: $spacer*15;
    @media (max-width: 992px) {
      margin-bottom: $spacer*6;
    }
  }
  &-img{
    width: 49%;
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: $spacer*2;
    }
  }
  &-body{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &-title{
    color: $primary-dark;
    font-size: $fs-7;
    @media (max-width: 992px) {
      font-size: $fs-6;
    }
  }
  &-subContent{
    margin-bottom: $spacer*4;
    align-items: center;
    @media (max-width: 992px) {
      margin-bottom: $spacer;
    }
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  &-subTitle{
    font-size: $fs-5;
    @media (max-width: 992px) {
      font-size: $fs-2;
    }
  }
  &-content{
    font-size: $fs-5;
    color: $secondary;
    @media (max-width: 992px) {
      font-size: $fs-2;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &-content-link {
    display: none;
    @media (max-width: 992px) {
      display: inline;
      color: $secondary;
    }
  }
  &-link{
    text-align: right;
    @media (max-width: 992px) {
      display: none;
    }
    a{
      color: $primary-dark;
      font-size: $fs-8;
      font-weight: 900;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}