.faq{
  padding-top: $spacer*24;
  padding-bottom: $spacer*20;
  @media (max-width: 992px) {
    padding-top: $spacer*20;
  }
  @media (max-width: 767px) {
    padding-top: $spacer*10;
    padding-bottom: $spacer*16;
  }
  &-title{
    margin-bottom: $spacer*8;
    @media (max-width: 767px) {
      margin-bottom: $spacer*6;
    }
  }
  &-subTitle{
    font-size: $fs-6;
    margin-bottom: $spacer*6;
  }
}

.faqList{
  &-item{
    margin-bottom: $spacer*8;
    @media (max-width: 767px) {
      margin-bottom: $spacer*6;
    }
  }
  &-title{
    font-size: $fs-5;
    margin-bottom: $spacer*2;
  }
}