.fw-bold{
  font-weight: bold;
}

.fw-medium{
  font-weight: 500;
}

.text-italic{
  font-style: italic;
}

.text-primary {
  color: $primary;
}

.text-secondary{
  color: $secondary;
}

.text-primary-dark {
  color: $primary-dark;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.bg-primary{
  background-color: $primary;
}

.bg-primary-light {
  background-color: $primary-light;
}

.bg-primary-dark {
  background-color: $primary-dark;
}

.bg-secondary-light{
  background-color: $secondary-light;
}

.bg-white{
  background-color: $white;
}

.d-block{
  display: block;
}

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: right;
}

.w-100{
  width: 100%;
}

.index-title{
  font-size: $fs-10;
  @media (max-width: 767px) {
    font-size: $fs-6;
  }
}

.page-title{
  font-size: $fs-10;
  border-left: 8px solid $primary;
  padding-left: $spacer*4;
  @media (max-width: 767px) {
    font-size: $fs-6;
  }
}

.product-subTitle{
  font-size: $fs-9;
  @media (max-width: 767px) {
    font-size: $fs-6;
  }
}

.product-title{
  font-size: $fs-7;
  margin-bottom: $spacer*8;
  @media (max-width: 767px) {
    font-size: $fs-6;
    margin-bottom: $spacer*6;
  }
}

.tag{
  font-size: $fs-6;
  margin-right: 15px;
  @media (max-width: 767px) {
    font-size: $fs-2;
    margin-right: $spacer*4;
  }
}