.fw-bold{
  font-weight: bold;
}

.text-italic{
  font-style: italic;
}

.text-primary {
  color: $primary;
}

.text-primary-dark {
  color: $primary-dark;
}

.text-white {
  color: $white;
}

.bg-primary{
  background-color: $primary;
}

.bg-primary-light {
  background-color: $primary-light;
}

.bg-white{
  background-color: $white;
}

.d-block{
  display: block;
}

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-content-between{
  justify-content: space-between;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: right;
}

.w-100{
  width: 100%;
}

.index-title{
  font-size: $fs-10;
  @media (max-width: 767px) {
    font-size: $fs-6;
  }
}

.page-title{
  font-size: $fs-10;
  border-left: 8px solid $primary;
  padding-left: $spacer*4;
  @media (max-width: 767px) {
    font-size: $fs-6;
  }
}