@for $i from 1 through 12{
  .mb-#{$i}{
    margin-bottom: $spacer * $i;
  }
}

.mt-24{
  margin-top: $spacer*24; /* 96px */
}

.py-20{  /* 80px */
  padding-top: $spacer*20;
  padding-bottom: $spacer*20;
}