/* color */
$primary: #AA0601;
$primary-dark: #650300;
$primary-light: #FBF2F2;
$secondary: #555555;
$secondary-light: #F2F2F2;
$border-color: #DCDCDC;

$category-1: #5F3E2D;
$category-2: #B75929;

$white: #fff;
$black: #000;
$gray: #212529;

/* font-size */
$fs-1: 14px;
$fs-2: 16px;
$fs-3: 18px;
$fs-4: 19px;
$fs-5: 20px;
$fs-6: 24px;
$fs-7: 32px;
$fs-8: 36px;
$fs-9: 42px;
$fs-10: 48px;
$fs-11: 64px;

/* space */
$spacer: 4px;